body {
    background-image: url('../../background.jpg');
    background-size: 125%;
    background-color: #000;
    background-repeat: no-repeat;
    color:#fff;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    background-color: #000 0.5;
    width: 100%;
    height: 600px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
}

h1 {
    margin-left: 200px;
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}


.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.rooms {
    background-color: rgba(0,0,0,0.8);
    width: 34%;
    height: 450px;
    float: left;
    box-shadow: 0 0 20px 3px #000 inset;


}

.messages {
    background: rgba(0,0,0,0.8);
    width: 50%;
    height: 450px;
    margin: 0 0 0 5%;
    float: left;
    box-shadow: 0 0 20px 3px #000 inset;

}

#chats {
    margin: 0px 20px 0px 20px;
    background-color: #000 0.5;
    height: 450px;
    overflow-y: auto;

}

.username {
    color: red;
}

.text {
    color: grey;
}




#roomSelect{
    margin: 5px 5px 5px 5px; 
    background: #000 0.5;
    color:white;
    height:350px;
    overflow-y: auto;
}
p{
    background: #000 0.5;
}

p:hover { 
    color:pink;
}

.friend {
    font-weight: bold;
    color: black;
}


